body{
	background: rgba(0,255,191,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,255,191,1) 0%, rgba(26,140,112,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,255,191,1)), color-stop(100%, rgba(26,140,112,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,255,191,1) 0%, rgba(26,140,112,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,255,191,1) 0%, rgba(26,140,112,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,255,191,1) 0%, rgba(26,140,112,1) 100%);
	background: radial-gradient(ellipse at center, rgba(0,255,191,1) 0%, rgba(26,140,112,1) 100%);
}
h3,p {
    text-align: center;
    color: #fff;
    font-size: 38px;
    text-shadow: -3px 1px 17px #000;
}
p {
    font-size: 16px;
    margin-top: -20px;
}
#tooplate_slider {
    clear: both;
    width: 950px;
    height: 605px;
    padding: 14px 15px 5px;
    border: 1px solid silver;
	background: #fff;
    margin: 0 auto;
}
div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	width: 950px;
}
div.content a, div.navigation a {
	text-decoration: none;
	color: #fff;
}
a.pageLink {
    position: absolute;
    padding: 10px;
	border:1px solid #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.1;
    font-size: 20px;
}
.next {
    right: 7pc;
    margin-top: 45px;
    margin-right: 58px;
}
.prev{
    left: 10.7pc;
    margin-top: 45px;

}
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}

div.slideshow-container {
	position: relative;
	clear: both;
	height: 475px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 950px;
	height: 475px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	width: 950px;
	height: 475px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 0; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
	width: 100%;
    height: 100%;
}

div.navigation {
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 10px 5px 5px 0;
	list-style: none;
	width: 186px;
	height: 110px;
}
a.thumb {
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
	height:100%;
	width:100%;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 0px;
}
